@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
.flexColumn, header, .searcherSelectors {
  display: flex;
  flex-direction: column; }

.contentCenter, header {
  justify-content: center;
  align-items: center; }

.secondaryTitles, .cardsSection__p, .searcherSelectors .selectorContainer__label {
  width: 100px;
  font-size: 0.9rem;
  font-weight: 600;
  color: #949494; }

.d-none {
  display: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif; }

main {
  margin-right: 20px;
  margin-left: 20px; }
  @media only screen and (min-width: 768px) {
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

header {
  background-color: #020202; }
  header h1 {
    font-family: 'Bangers', cursive;
    background-color: #e81c22;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 45px; }

.mainImg {
  width: 100%;
  min-height: 400px;
  background-image: url(".././hero.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5; }

footer {
  height: 7rem;
  text-align: center; }
  footer div {
    height: 100%;
    background-color: #020202;
    color: #ffffff;
    padding-top: 40px; }

.cardsSection {
  margin-top: 60px; }
  .cardsSection__h2 {
    margin-bottom: 20px; }
  .cardsSection__p {
    margin-bottom: 20px; }
  @media only screen and (min-width: 768px) {
    .cardsSection {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 80vw; }
      .cardsSection__h2 {
        margin-left: 10px; }
      .cardsSection__p {
        margin-left: 10px; } }

.card {
  margin-bottom: 20px;
  cursor: pointer; }
  .card__img {
    width: 100%;
    box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
    transform: translateY(0);
    transition: 0.2s; }
  .card__h3 {
    font-size: 0.9rem;
    margin-top: 20px; }
  @media only screen and (min-width: 768px) {
    .card {
      width: calc(100% / 5 - 2 * 10px);
      margin: 0 10px 40px; } }

.card:hover {
  transform: translateY(-10px); }

.anchor {
  text-decoration: none;
  color: #020202; }

.anchor:hover {
  color: #e81c22; }

@media only screen and (min-width: 768px) {
  .cardsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap; } }

.searcherSection {
  margin-top: 60px;
  width: 80vw; }
  @media only screen and (min-width: 768px) {
    .searcherSection {
      padding: 0 10px; } }

.searcher {
  margin-bottom: 20px;
  margin-top: 20px;
  border-bottom: 2px solid #151515;
  margin-right: 20px;
  align-items: center; }
  @media only screen and (min-width: 768px) {
    .searcher {
      min-width: 50%;
      flex-grow: 1; } }
  .searcher__input {
    border: 0;
    font-size: 1.6rem;
    margin-left: 5px;
    outline: none; }
    @media only screen and (min-width: 768px) {
      .searcher__input {
        font-size: 2rem; } }

@media only screen and (min-width: 768px) {
  .searcherSelectors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; } }

.searcherSelectors .selectorContainer {
  margin-bottom: 20px;
  display: flex; }
  @media only screen and (min-width: 768px) {
    .searcherSelectors .selectorContainer__label {
      font-size: 1.2rem; } }
  .searcherSelectors .selectorContainer__select {
    width: 100px;
    border: 0;
    font-weight: 600;
    margin-right: 20px; }
    @media only screen and (min-width: 768px) {
      .searcherSelectors .selectorContainer__select {
        font-size: 1.2rem; } }

@media only screen and (min-width: 768px) {
  .searcherSelectors {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .searcherSelectors__label {
      margin: 0; } }

.searcherButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .searcherButton__input {
    background-color: #020202;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 1.1rem;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .searcherButton__input {
        font-size: 1.2rem; } }
  .searcherButton__input:hover {
    background-color: #e81c22; }

.searcherContainer {
  width: 90vw; }
  @media only screen and (min-width: 768px) {
    .searcherContainer {
      width: 80vw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap; } }

@media only screen and (min-width: 768px) {
  .searcherActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
    flex-grow: 1; } }

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px; }
  .pagination button {
    border: none; }
    .pagination button .enabledButton {
      font-size: 1.8rem;
      width: 2.7rem;
      height: 2.7rem;
      background-color: #020202;
      color: #ffffff;
      padding-top: 0.5rem;
      margin: 0 5px;
      cursor: pointer; }
      .pagination button .enabledButton:hover {
        background-color: #e81c22; }
    .pagination button .disabledButton {
      font-size: 1.8rem;
      width: 2.7rem;
      height: 2.7rem;
      background-color: grey;
      color: #ffffff;
      padding-top: 0.5rem;
      margin: 0 5px; }

.cardInfo__img {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px; }

.cardInfo__name {
  margin-bottom: 20px; }

.cardInfo__title {
  margin-bottom: 20px; }

.cardInfo__p {
  margin-bottom: 20px; }

@media only screen and (min-width: 768px) {
  .cardInfo {
    display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: 20px; }
    .cardInfo__img {
      width: 30%;
      margin: 0;
      margin-right: 20px; } }
