@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
.flexColumn, header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentCenter, header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #020202;
}
header h1 {
  font-family: "Bangers", cursive;
  background-color: #e81c22;
  color: #ffffff;
  padding: 5px;
  font-size: 45px;
}

.mainImg {
  width: 100%;
  min-height: 400px;
  background-image: url(".././hero.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}