// COLORS
$primary-color: #020202;
$secondary-color: #ffffff;
$third-color: #e81c22;
$fourth-color: #949494;

// SIZES
$xs-spacing: 5px;
$s-spacing: 10px;
$m-spacing: 15px;
$l-spacing: 20px;
$xl-spacing:60px;
$wide-cover: 100%;