.pagination{
    display: flex;
    justify-content:center;
    margin-top: $xxl-spacing;
    margin-bottom: $xxl-spacing;
    button{
        border: none;
        .enabledButton{
           font-size: 1.8rem;
           width: 2.7rem;
           height: 2.7rem;
           background-color: $primary-color;
           color: $secondary-color;
           padding-top: 0.5rem;
           margin: 0 $xs-spacing;
           cursor: pointer;
           &:hover{
            background-color: $third-color;
           }
        }
        .disabledButton{
           font-size: 1.8rem;
           width: 2.7rem;
           height: 2.7rem;
           background-color: grey;
           color: $secondary-color;
           padding-top: 0.5rem;
           margin: 0 $xs-spacing;
        }
    }
}