*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    font-family: 'Roboto', sans-serif;
}
main{
    margin-right: $l-spacing;
    margin-left: $l-spacing;
}
